sources/ArkyMapsClient/ArkyMapsClient/Service References/ArkyMapServiceReference/ArkyMapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ArkyMapService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ArkyMapService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ArkyMapService/Imports">
      <xsd:import namespace="ArkyMapService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="ArkyMaps.com/PhoneService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMapService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IMapService_QueryPhoneUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryPhoneUserById" />
  </wsdl:message>
  <wsdl:message name="IMapService_QueryPhoneUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryPhoneUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_QueryPhoneUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryPhoneUsers" />
  </wsdl:message>
  <wsdl:message name="IMapService_QueryPhoneUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryPhoneUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_CreatePhoneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneUser" />
  </wsdl:message>
  <wsdl:message name="IMapService_CreatePhoneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_ModifyPhoneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPhoneUser" />
  </wsdl:message>
  <wsdl:message name="IMapService_ModifyPhoneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPhoneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_DeletePhoneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneUser" />
  </wsdl:message>
  <wsdl:message name="IMapService_DeletePhoneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_NewPosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewPosition" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMapService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/Login" message="tns:IMapService_Login_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/LoginResponse" message="tns:IMapService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Logout">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/Logout" message="tns:IMapService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QueryPhoneUserById">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/QueryPhoneUserById" message="tns:IMapService_QueryPhoneUserById_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/QueryPhoneUserByIdResponse" message="tns:IMapService_QueryPhoneUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QueryPhoneUsers">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/QueryPhoneUsers" message="tns:IMapService_QueryPhoneUsers_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/QueryPhoneUsersResponse" message="tns:IMapService_QueryPhoneUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreatePhoneUser">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/CreatePhoneUser" message="tns:IMapService_CreatePhoneUser_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/CreatePhoneUserResponse" message="tns:IMapService_CreatePhoneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ModifyPhoneUser">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/ModifyPhoneUser" message="tns:IMapService_ModifyPhoneUser_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/ModifyPhoneUserResponse" message="tns:IMapService_ModifyPhoneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeletePhoneUser">
      <wsdl:input wsaw:Action="ArkyMapService/IMapService/DeletePhoneUser" message="tns:IMapService_DeletePhoneUser_InputMessage" />
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/DeletePhoneUserResponse" message="tns:IMapService_DeletePhoneUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NewPosition">
      <wsdl:output wsaw:Action="ArkyMapService/IMapService/NewPosition" message="tns:IMapService_NewPosition_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>