sources/ArkyMapsClient/ArkyMapsClient/Service References/ArkyMapServiceReference/ArkyMapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ArkyMapService" elementFormDefault="qualified" targetNamespace="ArkyMapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="ArkyMaps.com/PhoneService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="ArkyMaps.com/PhoneService" minOccurs="0" name="LoginResult" nillable="true" type="q1:ClientUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPhoneUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPhoneUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="ArkyMaps.com/PhoneService" minOccurs="0" name="QueryPhoneUserByIdResult" nillable="true" type="q2:PhoneUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPhoneUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPhoneUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="ArkyMaps.com/PhoneService" minOccurs="0" name="QueryPhoneUsersResult" nillable="true" type="q3:ArrayOfPhoneUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhoneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="ArkyMaps.com/PhoneService" minOccurs="0" name="phoneUser" nillable="true" type="q4:PhoneUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhoneUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePhoneUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPhoneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="ArkyMaps.com/PhoneService" minOccurs="0" name="phoneUser" nillable="true" type="q5:PhoneUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPhoneUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPhoneUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhoneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="ArkyMaps.com/PhoneService" minOccurs="0" name="phoneUser" nillable="true" type="q6:PhoneUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhoneUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhoneUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="ArkyMaps.com/PhoneService" minOccurs="0" name="position" nillable="true" type="q7:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>