source/ArkyMapsPhoneTest/Service References/ArkyPhoneServiceReference/PhoneService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ArkyMaps.com/PhoneService" elementFormDefault="qualified" targetNamespace="ArkyMaps.com/PhoneService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="lon" type="xs:long" />
        <xs:element minOccurs="0" name="lat" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>